
/* Sticky footer styles
-------------------------------------------------- */
body {
  min-height: 100vh;
}

.flex-grow {
   flex: 1;
}

.footer a {
    color: $dark;
}

// Footer copyright
.copyright{
    font-size: .7rem;
    text-align: right;
    a, a:visited {
	color: $dark;
	text-decoration: none;
    }
    a:hover{
	color: $secondary;
	text-decoration: none;
    }
}

// Features
// The board
.home-section{
	padding-top: 5rem;
	padding-top: 5rem;
	text-align: center;
	p {
		font-size:.75rem;
	}
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
text-align: left;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
